@charset "utf-8";
.topLogBox a:hover,.w-languege a.cur{color:#85BF42;}
.topLogBox .w-search .search-btn-w{ background-color:#90AF6B;}
.topLogBox .w-search .input-search-w{ border-color:#90AF6B;}
.w-nav li:hover > a, .w-nav  li:hover > .li-parent-div > a, .w-nav li.active > a, .w-nav li.active > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li:hover > a,.w-admin-header .w-nav .nav_inner > li:hover > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li.active > a,.w-admin-header .w-nav .nav_inner > li.active > .li-parent-div > a{color:#000;}
.body-login-special .w-nav .nav_inner > li:hover > a,.body-login-special .w-nav .nav_inner > li:hover > .li-parent-div > a,.body-login-special .w-nav .nav_inner > li.active > a,.body-login-special .w-nav .nav_inner > li.active > .li-parent-div > a{ color:#85BF42;}
.w-nav .nav_simpline_cur{ }
.bx-wrapper .bx-prev:hover,.bx-wrapper .bx-next:hover{ background-color:#616161 !important;}
.banner .bx-wrapper .bx-prev:hover,.banner .bx-wrapper .bx-next:hover{ background-color:rgba(0,0,0,0.2) !important;}
.w-text a:hover,.newsDetail .news-others a:hover{color:#85BF42;}
/*--------------------组件-------------------------*/
.btn-default-w{}
.btn-default-w:hover,.btn-default-w:focus, .btn-global-w:hover,.btn-global-w:focus{background-color:#90AF6B; border-color:#90AF6B; color:#fff; }
.w-social .social-item{}
.w-social .social-item:hover{ background:#90AF6B;}
.search-defaut-w .search-btn-w{ background-color:#90AF6B;}
.search-defaut-w .search-btn-w:hover{background-color:#85BF42;}
.w-form-submit .w-buttom .btn-default-w{ background:#90AF6B; border-color:#90AF6B; color:#fff;}
.w-form-submit .w-buttom .btn-default-w:hover{ background:#85BF42; border-color:#85BF42;}
.color_s_default{ color:#90AF6B;}
.bg_s_default{ background:#90AF6B;}
.w-service-fixed .color_s_default:hover{color:#85BF42;}
.w-service-fixed .bg_s_default:hover{ background:#85BF42;}
.w-service-fixed .service-popc{background:#85BF42; }
.w-lantern-h .lantern_pre:hover{ background-image:url(../img/slide_lhover.png);}
.w-lantern-h .lantern_next:hover{ background-image:url(../img/slide_rhover.png);}
.captionbgFadeOutScale .caption .captionbg,.captionbgFadeInLeft.imgLeftBig .caption .captionbg,.captionbgFadeInRight.imgRightBig .caption .captionbg{background-color:#90AF6B;}
.w-slide-page-num .slide-page a.active{ background-color:#90AF6B;}
.prd_pageState span.active{ border-color:#90AF6B;}

/*-----------------footer-------------------------*/

/*--------------------系统------------------------*/
.crumbs a:hover,.w-breadcrumbs a:hover{color:#90AF6B;}
.w-pages a:hover,.w-pages a.cur{color:#fff; background:#444; }
.w-prd-list-cell:hover a{ color:#90AF6B; }
.w-prd-list-cell .w-prd-btns a.btn-buy{background:#90AF6B; border-color:#90AF6B; }
.w-prd-list-cell .w-prd-btns a.btn-buy:hover{ background:#85BF42; border-color:#85BF42; }
.w-prd-list-cell .w-prd-btns a.btn-addCart:hover{  border-color:#90AF6B;  color:#90AF6B;}
.w-productList1 .w-prd-list-cell .w-prd-con::after,.w-productList2 .w-prd-list-cell .w-prd-con::after,.w-product1 .w-prd-list-cell .w-prd-con::after,.w-prd-list1 .w-prd-list-cell .w-prd-con::after{ background:#90AF6B;}
.rotatePicbox-tel .navSlide .active{ background:#90AF6B;}
.product-detail-info .product-title h2,.product-title-top h2{ color:#555;}
/*-------------新闻--------------------*/
.w-News-list a.news-kind,.w-adNews .news-item .news-h a.news-kind{ color:#565656;}
.w-News-list .news-com .news-h a:hover,.w-adNews .news-h a:hover,.w-adNews1 li .news-item .news-com .news-h a:hover{color:#90AF6B;}
.w-News-list .news-h a.news-kind:hover,.w-adNews .news-h a.news-kind:hover{ color:#90AF6B;}
.w-News-list1 .news-com .news-h a:hover{ color:#000;}
.w-News-list2 li:hover a{ color:#90AF6B;}
.w-News-list5 li .news-item .data-day,.w-adNews1 li .news-item .data-day{ background:#90AF6B;}
.w-News-list7 li .date .date-day,.w-News-list7 li .date .date-yearMonth{ background:#90AF6B; color:#fff;}
.w-adNews3 .w-adNews-imgs .news-img .news-buoy-content .mask{background:#222;}
.w-adNews3{background:#90AF6B;}
.w-adNews3 .w-adNews-imgs .adNews3prev,.w-adNews3 .w-adNews-imgs .adNews3next{background-color:#90AF6B;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH a,.w-adNews3 .w-adNews-texts li .w-adNews-textH h3{ color:#fff;opacity:0.98; *filter:alpha(opacity=98); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=98);}
.w-adNews3 .w-adNews-texts li .w-adNews-textH a:hover,.w-adNews3 .w-adNews-texts li .w-adNews-textH a:hover h3{ color:#FDEA02;}
.w-adNews3 .w-adNews-texts li .w-adNews-textH p,.w-adNews3 .w-adNews-texts li .w-adNews-textH .news-sum{ color:#fff;opacity:0.98; *filter:alpha(opacity=98); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=98);}
.w-adNews3 .w-adNews-texts li .numberQ{border-color:#fff; color:#fff;opacity:0.9; *filter:alpha(opacity=90); filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);}
.w-adNews3 .w-adNews-texts li{border-color:#fff;}
.w-adNews3 .w-adNews-imgs .adNews3prev{background-image:url("../img/adnews3prev_white.png");}
.w-adNews3 .w-adNews-imgs .adNews3next{background-image:url("../img/adnews3next_white.png");}
.w-adNews4 li:hover{ background:#90AF6B;}
.w-adNews4 li:hover a,.w-adNews4 li:hover .news-item .news-h a.news-kind,.w-adNews4 li:hover .date{ color:#fff;}
.w-adNews4 .news-h a:hover{ color:#fff;}
.w-adNews10 li .news-item .news-com .more a{ background:#90AF6B;}
.w-adNews10 li .news-item .news-com .more a:hover{ background:#85BF42;}
.w-adNews11 li .news-btn::after{ background:#90AF6B;}
/*-----------------------会员中心和购物车--------------------*/
.w-admin-top .w-sign .w-admin-register, .w-admin-top .w-sign .w-admin-person,.w-admin-shopCart a .fa-shopping-cart,.order-progress .order-progress-text > div.cur,.orderA .orderA-statue .orderA-s,.orderA .order-route .order-route-notice a,.orderA .orderA-statue .orderA-btn .btn-green-A,.w-admin-sidemenu li.cur a,.payStatue-nav a.cur,.personInfoA .uploadimgA{ color:#90AF6B;}
.order-progress .order-progress-line .order-progress-line-sec.cur .curcle{background-image:url("../img/progress_complete.png");}
.order-progress .order-progress-line .order-progress-line-sec.cur .line,.btn-greenC,.btn-greenA{background-color:#90AF6B;}
.checkbox_tel input[type="checkbox"]:checked + label{background-color:#90AF6B;}
.orderA .orderA-statue .orderA-btn .btn-green-A,.section-con-new,.payStatue-nav a.cur{ border-color:#90AF6B;}
.orderSum-item .imgB,.order-routes .order-routeItem.cur .order-routeItem-img .imgA{background-color:#DAECC6;}
.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../img/routelinecur.png');}
/*----------------------标题------------------------*/
.color_main,.w-title37 h2{color:#333;}
.color_vice{color:#b1b1b1;}
.color_vice_light{}
.color_h{}
.color_span{}
.colorbg_main{color:#90AF6B;}
.bg_main{background-color:#90AF6B;}
.bg_main_light{background-color:#F8F8F8;}
.bg_simpline{background-color:#90AF6B;}
.border_colorall_main{border-color:#90AF6B;}
.aHoverborder_main:hover{border-color:#90AF6B;}
.border_colorleft_main{border-left-color:#90AF6B;}
.border_colortop_main{border-top-color:#90AF6B;}
.border_colorright_main{border-right-color:#90AF6B;}
.border_colorbottom_main{border-bottom-color:#90AF6B;}
.aHovercolor_main:hover{color:#90AF6B;}
.aHoverbg_main:hover{background-color:#90AF6B;}
.border_colorall_main_deepen{border-color:#85BF42;}
.aHovercolor_deepen:hover{ color:#85BF42;}
.aHoverbg_deepen:hover{ background-color:#85BF42;}
.aHoverborder_deepen:hover{border-color:#85BF42;}
.colorChange{background-color:#90AF6B;
    background-image: -webkit-linear-gradient(bottom, #90AF6B, #85BF42);
	background-image: -moz-linear-gradient(bottom, #90AF6B, #85BF42);
	background-image: -o-linear-gradient(bottom, #90AF6B, #85BF42);
	background-image: -ms-linear-gradient(bottom, #90AF6B,#85BF42);
	background-image: linear-gradient(to top, #90AF6B, #85BF42);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#85BF42, endColorStr=#90AF6B);}
.colorChange_deepen{background-color:#90AF6B;
    background-image: -webkit-linear-gradient(bottom, #85BF42,#90AF6B);
	background-image: -moz-linear-gradient(bottom, #85BF42, #90AF6B);
	background-image: -o-linear-gradient(bottom, #85BF42, #90AF6B);
	background-image: -ms-linear-gradient(bottom, #85BF42, #90AF6B);
	background-image: linear-gradient(to top, #85BF42, #90AF6B);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#90AF6B, endColorStr=#85BF42);}
.bg_main_change{background-color:#90AF6B;
    background-image: -webkit-linear-gradient(bottom, #ffffff, #90AF6B);
	background-image: -moz-linear-gradient(bottom, #ffffff, #90AF6B);
	background-image: -o-linear-gradient(bottom, #ffffff, #90AF6B);
	background-image: -ms-linear-gradient(bottom, #ffffff,#90AF6B);
	background-image: linear-gradient(to top, #ffffff, #90AF6B);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#90AF6B, endColorStr=#ffffff);}
.bg_main_changeDeepen{background-color:#90AF6B;
    background-image: -webkit-linear-gradient(bottom, #90AF6B, #ffffff);
	background-image: -moz-linear-gradient(bottom, #90AF6B, #ffffff);
	background-image: -o-linear-gradient(bottom, #90AF6B, #ffffff);
	background-image: -ms-linear-gradient(bottom, #90AF6B,#ffffff);
	background-image: linear-gradient(to top, #90AF6B, #ffffff);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#90AF6B);}
.bg_main_change_left{background-color:#90AF6B;
    background-image: -webkit-linear-gradient(right, #ffffff, #90AF6B);
	background-image: -moz-linear-gradient(right, #ffffff, #90AF6B);
	background-image: -o-linear-gradient(right, #ffffff, #90AF6B);
	background-image: -ms-linear-gradient(right, #ffffff,#90AF6B);
	background-image: linear-gradient(to left, #ffffff, #90AF6B);}
.bg_main_changeDeepen_left{background-color:#90AF6B;
    background-image: -webkit-linear-gradient(right, #90AF6B, #ffffff);
	background-image: -moz-linear-gradient(right, #90AF6B, #ffffff);
	background-image: -o-linear-gradient(right, #90AF6B, #ffffff);
	background-image: -ms-linear-gradient(right, #90AF6B,#ffffff);
	background-image: linear-gradient(to left, #90AF6B, #ffffff);}
.w-title2{ background:#90AF6B;}
.w-title2,.w-title2 .title-h-in h2,.w-title2 .more{color:#fff;}
.w-title2 .more:hover{ color:#FDEA02;}
.w-title17 .title-h-in{ background:#363636;}
.w-title17 .title-text-in{ background:#90AF6B;}
.w-title17 .w-title-inner{background-image:url("../img/tit17bg_0.png");}
.w-title17 .more:hover{ background-image:url("../img/tit17_morehover_0.png");}
.w-title19 .more .icon_more,.icon_more19bg{ background-image:url("../img/icon_more_0.png");}
.w-title23 .simpline{ background:#90AF6B;}
.w-title34 .tith .line{ background:#444;}
@media (min-width:768px){
	.w-com-menu-V .systitle{ background:#90AF6B; color:#fff;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent a,.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent.cur > .div-parent a{ background:#90AF6B;color:#fff; margin-left:-1px; margin-right:-1px;}
	.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent:hover > .div-parent .fa,.w-com-menu-V > .w-com-menu-in > .ul-parent > .li-parent.cur > .div-parent .fa{ color:#fff;}
	.w-com-menu-V .ul-submenu li:hover >.div-parent a,.w-com-menu .ul-submenu li:hover >.div-parent .fa,.w-com-menu-V .ul-submenu li.cur >.div-parent a,.w-com-menu .ul-submenu li.cur >.div-parent .fa{ color:#85BF42;}
    .w-com-menu-H >.w-com-menu-in>.ul-parent> li:hover >.div-parent a,.w-com-menu-H >.w-com-menu-in>.ul-parent> li.cur >.div-parent a{ color:#000;}
	.w-com-menu-H .ul-submenu li:hover> .div-parent >a,.w-com-menu-H .ul-submenu li.cur> .div-parent >a{ color:#000; }
}
@media (min-width:961px){
	.w-nav .submenu{}
	.w-nav .submenu li:hover > a, .w-nav .submenu  li:hover > .li-parent-div > a, .w-nav .submenu li.active > a, .w-nav .submenu li.active  >.li-parent-div > a{ color:#85BF42;}
}
@media (max-width:960px){
	.w-admin-header,.body-login .w-admin-header,.w-header{color:#333;}
	.topLogBox a:hover,.w-languege a.cur{color:#90AF6B;}
	.w-nav li:hover > a, .w-nav  li:hover > .li-parent-div > a, .w-nav li.active > a, .w-nav li.active > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li:hover > a,.w-admin-header .w-nav .nav_inner > li:hover > .li-parent-div > a,.w-admin-header .w-nav .nav_inner > li.active > a,.w-admin-header .w-nav .nav_inner > li.active > .li-parent-div > a{color:#85BF42;}
}
@media (max-width:767px){
	.w-com-menu{ border-bottom:2px solid #85BF42;}
	.w-com-menu .ul-parent{background-color:#ebebeb;}
	.w-com-menu .ul-submenu ul{ background-color:#fafafa;}
	.w-com-menu .ul-submenu .ul-submenu ul{ background-color:#fdfdfd;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a{text-align:left;}
	.w-com-menu li a, .w-com-menu .ul-submenu li a,.w-com-menu .fa{color:#666; }
	.w-com-menu li, .w-com-menu .ul-submenu li{border:none; border-bottom:1px solid #fff;}
	.w-com-menu li >.div-parent:hover a,.w-com-menu  li.cur >.div-parent a{ background:none; }
	.w-com-menu li > .div-parent:hover > a, .w-com-menu li.cur > .div-parent > a, .w-com-menu li > .div-parent:hover > .fa, .w-com-menu li.cur > .div-parent > .fa{color:#85BF42; }
	.w-com-menu .ul-submenu li > .div-parent:hover a, .w-com-menu .ul-submenu li.cur > .div-parent a{background:none;}
	.systitle{color:#fff; text-align:center; background:#90AF6B;}
	/*-----------------------会员中心和购物车--------------------*/
	.order-routes .order-routeItem.cur .order-routeItem-img .lineA{background-image:url('../img/routelinecurtel.png');}
}