<div class="w-container w-header w-header-common">
    <div class="topLogBox topLogBoxPc">
      <div class="topLogBox-in">
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="mobile-nav-toggle"><i class="fa fa-navicon fa-2x"></i></div>
      <div class="nav_right_mask"></div>
      <div class="row_top clearfix">
        <div class="column column3">
          <div class="col-logo">
            <div class="w-logo">
              <h1 style="display:none;"><a href="{eyou:global name='web_cmsurl' /}/"></a></h1>
              <a href="{eyou:global name='web_cmsurl' /}/" class="w-logo-img"> <img src="{eyou:global name='web_logo' /}"/> </a> </div>
          </div>
        </div>
        <div class="column column9 clearfix">
          <div class="w-nav g-active-add">
            <div class="w-nav-in">
              <ul class="nav_inner clearfix" id="g-web-ul-menu" style="display:none;">
                <li {eyou:eq name='$Think.const.CONTROLLER_NAME' value='Index'}class="active"{/eyou:eq}><a href="{eyou:global name='web_cmsurl' /}/" >首页</a><i class="nav_simpline_cur"></i></li>
                {eyou:channel type="top" row="9" id="field" currentstyle="active"}
                <li class="{$field.currentstyle}"><a href="{$field.typeurl}">{$field.typename}</a><i class="nav_simpline_cur"></i></li>
                {/eyou:channel}    
                <div class="nav_moveBox"></div>
              </ul>
            </div>
          </div>
           
        </div>
      </div>
      <div class="col-right clearfix">
        <div class="w-nav g-active-add">
          <div class="w-nav-in">
            <ul class="nav_inner clearfix">
              <li {eyou:eq name='$Think.const.CONTROLLER_NAME' value='Index'}class="active"{/eyou:eq}><a href="{eyou:global name='web_cmsurl' /}/" >首页</a><i class="nav_simpline_cur"></i></li>
              {eyou:channel type="top" row="9" id="field" currentstyle="active"}
              <li class="{$field.currentstyle}"><a href="{$field.typeurl}">{$field.typename}</a><i class="nav_simpline_cur"></i></li>
              {/eyou:channel}    
              <div class="nav_moveBox"></div>
            </ul>
          </div>
        </div>
        
        <div class="topLogBox topLogBoxTel">
          <div class="topLogBox-in">
            <div class="col-com"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>