<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{$eyou.field.seo_title}</title>
<meta name="description" content="{$eyou.field.seo_description}" />
<meta name="keywords" content="{$eyou.field.seo_keywords}" />

<link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width" name="viewport" />
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/font-awesome.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/global.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/widget.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/variouscomponents.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/images.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/theme.css">
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/color_0.css">
<script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.min.js"></script>
<!--[if !IE]><!-->
<script src="{eyou:global name='web_templets_pc' /}/skin/js/base.js"></script>
<!--<![endif]-->
<!--[if gte IE 9]>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/base.js"></script>
<![endif]-->
<!--[if lt IE 9]>
      <link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/font-awesome-ie7.min.css">
      <script src="{eyou:global name='web_templets_pc' /}/skin/js/selectivizr.js"></script>
      <script src="{eyou:global name='web_templets_pc' /}/skin/js/html5shiv.min.js"></script>
      <script src="{eyou:global name='web_templets_pc' /}/skin/js/respond.min.js"></script>
      <script src="{eyou:global name='web_templets_pc' /}/skin/js/modernizr.min.js"></script>
    <![endif]-->
<link href="{eyou:global name='web_templets_pc' /}/skin/css/lightbox.min.css" rel="stylesheet">
<script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.superslide.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/common.js"></script>
<script src="{eyou:global name='web_templets_pc' /}/skin/js/theme.js"></script>
<!-- feib -->
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/layer.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/language.js"></script>
<!-- plugins -->
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.formsvalidation.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.nodecommon.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/extend.js"></script>
<link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/animate.min.css">
<script src="{eyou:global name='web_templets_pc' /}/skin/js/animate.min.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/components.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.menu_style.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.init.js"></script>
<script type="text/javascript">
$(function(){
    dataAnimate();
    (function($,lanno){
        if(lanno === "" || lanno === "default"){
            return '';
        }
        $(".w-languege").each(function(){
            $(this).find("a").each(function(){
                if($(this).data("lanno") === lanno){
                    $(this).addClass("cur");
                }else{
                    if($(this).hasClass("cur")){
                        $(this).removeClass("cur");
                    }
                }
            });
        });
    })(jQuery,"cn");
});
</script>
</head>
<body>
<div class="body">
  {eyou:include file="header.htm" /}
  <section class="w-container bannerBox ">
    <div class="banner"> <img src="{eyou:notempty name='$eyou.field.banner' /}{$eyou.field.banner} {eyou:else /}{$eyou.field.typeid|gettoptype=###,'banner'}{/eyou:notempty}" alt="{$eyou.field.typename}" title="{$eyou.field.typename}" style=""  /> <a href="javascript:void(0);" target="_self"><span  style="display:none;">none</span></a> </div>
  </section>
  <div class="w-container w-main">
    <div class="row">
      <div class="wrap-content-in w-system w-productcom">
        <div class="w-system-in">
          <div class="product-detail-wrap">
            <div class="w-com-content">
              <div class="w-breadcrumbs"> {eyou:position style="crumb" /} </div>
              <div class="product-detail-top2">
                <div class="product-title-top">
                  <h2>{$eyou.field.title}</h2>
                </div>
                <div class="product-detail-images">
                  <ul class="bxslider">
                  {eyou:volist name="$eyou.field.image_list"}
                    <li onclick="showLightBox({$i});" data-imageid="{$i}"> <img class="g-cover" style="cursor:pointer;" src="{$field.image_url}" alt="{$eyou.field.title}"> </li>
                  {/eyou:volist}  
                  </ul>
                  <script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.bxslider.js"></script>
                  <link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/jquery.bxslider.css">
                  <script type="text/javascript">
                $(function () {
                    $('.bxslider').bxSlider({
                        mode: 'horizontal',
                        pause: 5000
                    });
                });
        </script>
                  <div style="display:none;"> 
                  {eyou:volist name="$eyou.field.image_list"}
                  <a data-lightbox="image-{$i}" href="{$field.image_url}"> <span id="imageid{$i}"></span> </a>
                  {/eyou:volist}   
                  </div>
                </div>
                <div class="rotatePicbox-tel">
                  <div class="imgSlideMain clearfix">
                    <div id="imgSlide2" data-role="slide" class="imgSlide">
                      <ul>
                        {eyou:volist name="$eyou.field.image_list"}
                        <li><a href="javascript:void(0);"><img class="g-cover" src="{$field.image_url}"></a></li>
                        {/eyou:volist}   
                      </ul>
                    </div>
                    <div class="navSlideBox">
                      <ul class="navSlide">
                        <ul>
                          {eyou:volist name="$eyou.field.image_list" mod='20'}
                          <li class="i_point {eyou:eq name='$mod' value='1'}active{/eyou:eq}">{$i}</li>
                          {/eyou:volist}
                        </ul>
                      </ul>
                    </div>
                  </div>
                  <script src="{eyou:global name='web_templets_pc' /}/skin/js/c_wap.js"></script> 
                  <script src="{eyou:global name='web_templets_pc' /}/skin/js/c_wap2.js"></script> 
                  <script src="{eyou:global name='web_templets_pc' /}/skin/js/slide.js"></script> 
                  <script>
        setTimeout(function () {
            imgSlideInit('#imgSlide2', 1000)
        }, 600);
    </script> 
                </div>
                <div class="product-detail-info">
                  <div class="product-detail-info-in">
                    <div class="prd_detInfo_con">
                      <div class="product-short-sum">{$eyou.field.seo_description}<br/>
                        <br/>
                        <br/>
                      </div>
                      <div class="product-grayBox clearfix">
                        <div class="product-prices">
                        {eyou:volist name="$eyou.field.attr_list"}
                          <div class="price-sale"> {$field.attr_name}： <span class="num"> {$field.attr_value} </span> </div>
                        {/eyou:volist}
                        </div>
                        <div class="collect_share clearfix"> </div>
                      </div>
                    </div>
                  </div>
                  <div class="prd_detInfo_con">
                    <div class="product-properies-groups"> </div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="product-maincon">
              <div class="product-maincon-in">
                <style>
    .info_tab .cur_tab a{
        cursor:auto;
    }
</style>
                <div class="info_tab">
                  <div class="info_tab_in">
                    <ul class="clearfix">
                      <li class="cur_tab"><a href="javascript:void(0)">产品详细</a></li>
                    </ul>
                  </div>
                </div>
                <div class="product-descons">
                  <div class="descon_item" id="Tabitem537272">
                    {$eyou.field.content} 
                  </div>
                </div>
                <div class="news-others">
                  <div class="pre-next" >
                  <div class="news-prev"> {eyou:prenext get='pre' empty='上一篇：<a>暂无</a>'}
上一篇：<a href="{$field.arcurl}" title="{$field.title}"> {$field.title} </a>
{/eyou:prenext} </div>
                  <div class="news-next"> {eyou:prenext get='next' empty='下一篇：<a>暂无</a>'}
下一篇：<a href="{$field.arcurl}" title="{$field.title}"> {$field.title} </a>
{/eyou:prenext} </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="prddetail_foot_fixed" >
              <div class="prddetail_foot clearfix" style="width:100%;"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {eyou:include file="footer.htm" /}
</div>
<div class="topTel" onclick="$('body,html').animate({scrollTop: 0}, 500);"><i class="fa fa-arrow-up"></i></div>

<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.global.js"></script> 
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.form.js"></script> 
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/lightbox.min.js"></script> 
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.product_detail.js"></script> 
</body>
</html>